/* Default Styles */

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* Nav Section */
.nav_menu {
    background-color: #272c36;
}

.nav_menu > li {
    padding: 1em;
    text-align: center;
    border-bottom: .5px solid white;
    list-style: none;
}

.nav_menu > li:last-child {
    border-bottom: 0;
}

.nav_menu > li:hover {
    background-color: #494c52;
}

.nav_menu li a {
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
}

/* Main Head Section */
.main-head {
    background-image: url('/IMG/nature.jpg');
    min-height: 300px;
    width: 100%;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

.title {
    font-size: 4em;
    padding-top: 1.2em;
    line-height: 1.5em;
    text-shadow: 4px 5px black;
}

.quote {
    font-size: 1.2em;
}

/* About Section */

.about {
    padding-top: 2em;
}

.about_entry {
    width: 50%;
    margin: auto;
    background-color: #d1cbcb;
}

.about_img {
    width: 100%;
    margin-top: 0;
}